<% if @project.module_enabled?("issuestats") == true %>
  <% @issue_start_time = IssueStartTime.find_by_issue_id(params[:id]) %>
  <% if @issue_start_time != nil %>
    <div class="splitcontentleft">
      <div class="start-date attribute">
        <div class="label">
          <%= l(:issue_start_time) + ":" %>
        </div>
        <div class="value">
          <%= Time.parse(@issue_start_time.start_datetime.to_s).utc.localtime.strftime("%m/%d/%Y %I:%M %p") %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
