<% if @project.module_enabled?("issuestats") == true %>
  <% @issue_start_time = IssueStartTime.find_by_issue_id(params[:id]) %>
  <% if @issue_start_time != nil %>
    <% time = Time.parse(@issue_start_time.start_datetime.to_s).utc.localtime %>
  <% else %>
    <% time = Time.now.utc.localtime %>
  <% end %>
  <p>
    <% time.to_formatted_s(:time) %>
    <%= label :issuestats, l(:issue_start_time) %>
    <%= time_field(:issuestats, :start_time, :value => time.to_s(:time), :required => true) %>
  </p>
<% end %>
